/*The default margin has be set to 8px, we must set is to 0 in order to prevent clashes while programming*/
html, body{ margin: 0;}

/* This is the background image of the landing page*/
.container_header_image{
    background-image: url("../img/unsplash_home.jpg");
    height: 100vh;
   /* width: 100%;*/
    background-size: cover;
}

/*This is the black tint or over lining shadow of the landing page image*/
.container_header_image::before{
    content:"";
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%; /* The tint extends from the left-side of the window to fill the space| percentage is preferable to viewportWidth*/
    background: rgba(0,0,0,0.7);
}
/*The position of the text is set to relative in order to bring in to the fore-font of the page*/
.headline_text{
    color: white;
    position: relative;
    height: 100vh;/* This needs to be relative to the landing page in order for the (display, flex-direction. justify-content and align-items) to work and the effects to be displayed properly */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
    font-size: 54px;
    text-shadow: 2px 3px 2px rosybrown;
}



#navigation_bar{
    position: fixed;
    z-index: 10;
  /*  border: dashed deeppink;*/ /* Placed to to determine the border of span */
    top: 8px;
    right: 16px;
}

.nav_bar_right{
    display: inline-flex;
    padding: 0;
    list-style-type: none;
/*    border: dashed yellow;*/ /* Placed to to determine the border of span */


}

.nav_bar_right li{
    text-align: right;
 /*   border: dotted blue;*/ /* Placed to to determine the border of span */
}

.nav_bar_right li a{
    display: block;
    color: navajowhite;
    position: relative;
    padding-right: 2em;
    text-decoration: none;
    font-size: 32px;
/*    border: dashed red;*/ /* Placed to to determine the border of span */
    font-family: 'EB Garamond', serif;


}

.nav_bar_left{
    position:fixed;
    z-index: 10;
    top: 8px;
    left: 16px;
   /* border: dashed deeppink;*/
    list-style-type: none;
    display: inline;
    padding: 0;

}

.nav_bar_left li a{
    display: block;
    color: navajowhite;
    text-shadow: 2px 3px 2px white;
    position: relative;
    text-decoration: none;
    font-size: 32px;
    font-family:"Dancing Script", cursive;

}














.headline_text h1{
    margin: 0;
}





















p{
    max-width: 600px;
    margin: 0 auto 20px;
    font-family: 'EB Garamond', serif;
}





